@import 'variables.scss';

.btn{
    padding: 1em;
    border-radius: 5em;
    width: 100%;
    border: none;
    font-size: 0.9em;
    font-weight: 300;
    background: linear-gradient(90deg, $gradient-1 0%, $gradient-2 50%, $gradient-3 100%);
    &--outline{
        background-color: none;
        border: 1px solid $gradient-2;
    }

}