@import 'variables.scss';

svg .glow {
    // stroke works fine, filter doesn't work
    stroke: $neon;
    filter: url(#blur-filter);
}


#circleBar {
    width: calc(15vh + 110px);
    padding-bottom: 92%;
    margin: 2em 0;
    height: 1px;
    overflow: visible;
}

.ripple {
    transform-origin: center;

    &--1 {
        animation: ripple1 2.3s linear infinite;
    }
}

@keyframes ripple1 {
    0% {
        transform: scale(0);
        opacity: 0.2;
    }

    100% {
        transform: scale(1.5);
        opacity: 0.0;
    }
}