// BASE COLOUR
$base-color: #293556;
$secondary-color: #26304B;
$secondary-font: #c6c5c5;


// MAIN COLOUR
$neon: #6EFAFF;
$dark-module:#26304B;
$bg-neon:#40AEA5;

// GRADIENT THEME
$gradient-1: #FD6051;
$gradient-2: #FF8967;
$gradient-3: #FEC051;
$gradient-4: #FFE577;

// SIZE
$h1 : 3em;
$h2 : 1.5em;
$h3 : calc(1.2em + 3%);
$h4 : 1em;
$h5 : 0.75em;

// Z-INDEX
$z-bottom:-1000;
$z-top:1000;

// FUNCTION
@mixin fix-container {
    margin: 0 auto;
    width: 75%;
    box-sizing: border-box;
}

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

//GLOBAL
.text {
    margin: 20px 0;
    text-align: center;
    text-decoration: none;

    &--highlight {
        color: $gradient-1;
    }
}